# 1: Reverse each word of a string

In [1]:
str = 'My Name is Jessa'

In [3]:

def reverse_words(Sentence):
    # Split string on whitespace
    words = Sentence.split(" ")

    # iterate list and reverse each word using ::-1
    new_word_list = [word[::-1] for word in words]
    
    # Joining the new list of words
    res_str = " ".join(new_word_list)
    return res_str

# Given String
str1 = "My Name is Jessa"
print(reverse_words(str1))

yM emaN si asseJ

# 2: Read text file into a variable and replace all newlines with space

#### Given: Assume you have a following text file (sample.txt).

    Line1
    line2
    line3
    line4
    line5

In [ ]:
with open('sample.txt','r') as file:
    data = file.read().replace('\n',' ')
print(data)

# 3: Remove items from a list while iterating

You need to remove items from a list while iterating but without creating a different copy of a list.

Remove numbers greater than 50

In [6]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
n = len(number_list)

while i < n :
    if number_list[i] > 50:
        del number_list[i] 
        n = n-1
    else:
        n = n + 1
print(number_list)

KeyboardInterrupt:

# 4: Reverse Dictionary mapping

In [ ]:
ascii_dict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}

In [4]:
# 1

from collections import OrderedDict
  
# initializing dictionary
ascii_dict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
  
# printing original dictionary
print("The original dictionary : " + str(ascii_dict))
  
# Reverse Dictionary Keys Order
# Using OrderedDict() + reversed() + items()
res = OrderedDict(reversed(list(ascii_dict.items())))
  
# printing result 
print("The reversed order dictionary : " + str(res))

The original dictionary : {'A': 65, 'B': 66, 'C': 67, 'D': 68}
The reversed order dictionary : OrderedDict([('D', 68), ('C', 67), ('B', 66), ('A', 65)])

In [9]:
# 2

my_map = {'a': 1, 'b': 2}
rev = OrderedDict(reversed(list(my_map.items())))
rev

OrderedDict([('b', 2), ('a', 1)])

In [10]:
# 3 - without OrderedDict

ascii_dict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
  
print("The original dictionary : " + str(ascii_dict))
  
# Reverse Dictionary Keys Order
# Using reversed() + items()
res = dict(reversed(list(ascii_dict.items())))
  
# printing result 
print("The reversed order dictionary : " + str(res))

The original dictionary : {'A': 65, 'B': 66, 'C': 67, 'D': 68}
The reversed order dictionary : {'D': 68, 'C': 67, 'B': 66, 'A': 65}

In [6]:
# 4 : By reverse mapping

def inverse_mapping(f):
    return f.__class__(map(reversed, f.items()))

ascii_dict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
print(inverse_mapping(ascii_dict))

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [11]:
# 5 

ascii_dict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
# Reverse mapping
new_dict = {value: key for key, value in ascii_dict.items()}
print(new_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [12]:
my_map = {'a': 1, 'b': 2}
new = {value : key for key, value in my_map.items()}
print(new)

{1: 'a', 2: 'b'}

# 5: Display all duplicate items from a list
Given:

sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

In [14]:
# 1: - Using collections.Counter()

In [16]:
import collections
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
duplicates  = []

for item,count in collections.Counter(sample_list).items():
    if count > 1:
        duplicates.append(item)
print(duplicates)

[20, 60, 30]

In [17]:
# 2

sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
exist = {}
duplicates = []

for x in sample_list:
    if x not in exist:
        exist[x] = 1
    else:
        duplicates.append(x)
print(duplicates)

[20, 30, 60]

# 6: Filter dictionary to contain keys present in the given list

In [20]:
# Dictionary
d1 = {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}

# Filter dict using following keys
l1 = ['A', 'C', 'F']
new_dict = {key: d1[key] for key in l1}
print(new_dict)

{'A': 65, 'C': 67, 'F': 70}

# 7: Programs to print number pattern

    1  
    2 2  
    3 3 3  
    4 4 4 4  
    5 5 5 5 5

In [22]:
rows = 6

# for outer loop
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
        # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
## if you want user to enter a number, uncomment the below line

rows = int(input('Enter the no of rows : '))
# for outer loop
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
        # new line after each row
    print('')

Enter the no of rows : 10

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

# 8: Pyramid pattern of numbers

    1 
    1 2 
    1 2 3 
    1 2 3 4 
    1 2 3 4 5

In [33]:
rows = 5
for i in range(1,rows+1):
    for j in range(1,i + 1):
        print(j,end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 9: Print the following number pattern

    1 1 1 1 1 
    2 2 2 2 
    3 3 3 
    4 4 
    5

In [40]:
rows = 5 
b = 0
for i in range(rows,0,-1):
    b += 1
    for j in range(1, i+ 1):
        print(b, end=' ')
    print(' ')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

# 10: Inverted Pyramid pattern with the same digit

In [41]:
row = 5
num = rows
# reverse for loop
for i in range(rows, 0, -1):
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# 11:  inverted half pyramid pattern with number

In [47]:
rows = 5 

for i in range(rows,0,-1):
    for j in range(0, i+ 1):
        print(j, end=' ')
    print(' ')

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# 12 : Create an inner function

In [50]:
x = 'Emma' 
y = 'Kelly'
z = x +y
print(z +'Devolopers')

EmmaKellyDevolopers

In [58]:
def inner_fun(x, y):
    z = x + y
    return z + 'Developers'

result = inner_fun('Emma', 'Kelly')
print(result)

EmmaKellyDevelopers

In [59]:
def manipulate(x, y):
    # concatenate two strings
    def inner_fun(x, y):
        return x + y

    z = inner_fun(x, y)
    return z + 'Developers'

result = manipulate('Emma', 'Kelly')
print(result)

EmmaKellyDevelopers

# 13: Modify the element of a nested list inside the following list
Change the element 35 to 3500

In [65]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

list1[1][2][2][1] = 3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

# 14: Access the nested key increment from the following dictionary

In [66]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}
print(emp_dict['company']['employee']['payable']['increment'])

12